.form-control:invalid {
  border: 1px solid red;
}

.custom-select:required {
  border: 1px solid red;
}

.footer {
  position: absolute;
  bottom: 0;
}

.footer2 {
  position: absolute;
  bottom: 120px;
}
